body {
    background-color: #eee;
    padding: 0;
    margin: 0;
}

.test-area {
    height: 300px;
    background-color: #fff;
    position: relative;
    overflow-x: scroll;

    .ball {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: absolute;
        left: 20px;
        top: 140px;
        background-color: #d00000;
    }
}