<meta name=renderer content=webkit>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="content-language" content="zh-CN" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="/assets/font/iconfont.css"> -->
<!-- <link rel="shortcut icon" type="image/x-ico" href="/assets/favicon.ico"> -->
<% if(commonCssSrc) { %>
    <link rel="stylesheet" href="<%= commonCssSrc%>">
<% } %>
<% if(cssSrc) { %>
    <link rel="stylesheet" href="<%= cssSrc %>">
<% } %>

<!-- <script src="/assets/polyfill.js"></script> -->